$font-baloo: "Baloo Da 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$font-poppins: "Poppins", sans-serif;
$color-primary: #535C91;
$color-second: #00224D;
$color-yellow: #f2a744;
$color-add: #010d1f;